@keyframes example {
  0% {
    text-decoration-color: rgb(255, 255, 255, 0);
  }
  50% {
    text-decoration-color: rgb(255, 255, 255, 255);
  }
  100% {
    text-decoration-color: rgb(255, 255, 255, 0);
  }
}

a:hover {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
